﻿<!--aqui ira nuestra todo el crud por que es algo sencillo-->

<h1>LISTA PERSONAS</h1>

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>#</tr>
                <tr>Nombre</tr>
                <tr>Apellido</tr>
                <tr>Edad</tr>
            </thead>
            <tbody data-bind="foreach: personas">
                <tr>
                    <td data-bind="text: IdPersona"></td>
                    <td data-bind="text: NombrePersona"></td>
                    <td data-bind="text: ApellidoPersona"></td>
                    <td data-bind="text: EdadPersona"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-default" data-bind="click: nuevaPersona">Agregar</button>
        </div>
    </div>

    <div class="" data-bind="if: agregarPersona">
        <form data-bind="submit: postPersona">
            <div class="form-group">
                <label >Nombre</label>
                <input type="text" class="form-control" data-bind="value: nuevaPersonaEntity.NombrePersona"
                       placeholder="Escriba su nombre">
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" data-bind="value: nuevaPersonaEntity.ApellidoPersona"
                       placeholder="Escriba su apellido">
            </div>
            <div class="form-group">
                <label>Edad</label>
                <input type="text" class="form-control" data-bind="value: nuevaPersonaEntity.EdadPersona"
                       placeholder="Escriba su edad">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-primary" data-bind="click: cancelarNuevaPersona">Cancelar</button>
        </form>
    </div>

</div>