﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Persona", "Index", "Persona", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @*
        Este es un comentario
        si queres insertar mas de una linea de codigo
            tenes que escribir @{ $codigo }
            
          Si te das cuenta al ejecutarlo pues funciona xD

        *@
        @{
            for (int x = 0; x < 10; x++)
            {
                <label>@x</label>
            }
        }
        @RenderBody()
        @*
           El render body se encarga de mostrar el contenido de tus vistas de diseño
           las cuales son como por ejemplo donde esta el directorio Home
            siendo esta el archivo Index.cshtml
        *@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*El scripts.render jala los scripts que creamos en el bundleconfig.cs*@
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/persona")
    @RenderSection("scripts", required: false)
</body>
</html>
